*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/auth-database/target/
/auth-database/nb-configuration.xml
/auth-database/nbactions-auth-in-mem-etl-test.xml
/cida-auth-webservice/target/
/cida-auth-webservice/src/main/webapp/META-INF/
/cida-auth-webservice/nb-configuration.xml
/cida-auth-commons/target/
/auth-client/target/
**/.settings
**/.project
**/.classpath
**/target
/auth-webservice/src/main/webapp/META-INF/context.xml
/auth-client/mockserver_request.log
/auth-client/mockserver.log
/auth-client/catalina.base_IS_UNDEFINED/
/auth-database/catalina.base_IS_UNDEFINED/
/auth-webservice/nb-configuration.xml

