<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.usgs.cida.mybatis.mappers.AuthTokenMapper">
	
	<resultMap id="tokenResultMap" type="AuthToken" autoMapping="false">
		<id property="id" column="ID" />
		<result property="tokenId" column="TOKEN_ID" />
		<result property="username" column="USERNAME" />
		<result property="issued" column="ISSUED" />
		<result property="expires" column="EXPIRES" />
		<result property="lastAccess" column="LAST_ACCESS" />
	</resultMap>
	
	<select id="getAll" resultMap="tokenResultMap" useCache="false">
        SELECT
			ID,
			TOKEN_ID,
			USERNAME,
			ISSUED,
			EXPIRES,
			LAST_ACCESS
        FROM 
			AUTH_TOKEN
    </select>
	
	<select 
        id="getByTokenId" 
        parameterType="String" 
        resultMap="tokenResultMap">
        SELECT
			ID,
			TOKEN_ID,
			USERNAME,
			ISSUED,
			EXPIRES,
			LAST_ACCESS
        FROM 
			AUTH_TOKEN
        WHERE
			TOKEN_ID = #{id}
    </select>
	
	<delete 
        id="deleteTokenUsingId" 
        parameterType="String" 
		flushCache="true"
		statementType="PREPARED">
        DELETE FROM AUTH_TOKEN
		WHERE TOKEN_ID = #{id}
    </delete>
	
	<insert
		id="insertToken"
		flushCache="true"
		statementType="PREPARED"
		useGeneratedKeys="true"
		keyColumn="id"
		>
		INSERT INTO AUTH_TOKEN (TOKEN_ID,USERNAME,ISSUED,EXPIRES,LAST_ACCESS)
		VALUES (#{tokenId}, #{username}, #{issued}, #{expires}, #{lastAccess})
	</insert>
	
	<update
		id="updateTokenExpiration"
		flushCache="true"
		statementType="PREPARED">
		UPDATE AUTH_TOKEN
		SET
			EXPIRES = #{expires}
		WHERE 
			TOKEN_ID = #{tokenId}
	</update>
	
	<update
		id="updateTokenLastAccess"
		flushCache="true"
		statementType="PREPARED">
		UPDATE AUTH_TOKEN
		SET
			LAST_ACCESS = #{lastAccess}
		WHERE 
			TOKEN_ID = #{tokenId}
	</update>
</mapper>