<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Manager pathname="" />
    <Resource name="jdbc/cidaAuthDS" auth="Container" type="javax.sql.DataSource" username="postgres" password="postgres" driverClassName="org.postgresql.Driver" url="jdbc:postgresql://auth-database:5432/cida_auth" maxTotal="50" maxIdle="10" removeAbandonedOnBorrow="true" removeAbandonedTimeout="60" logAbandoned="true" testOnBorrow="true" defaultAutoCommit="true" validationQuery="SELECT 1" accessToUnderlyingConnectionAllowed="true" jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer" poolPreparedStatements="true" maxOpenPreparedStatements="400" />
</Context>
